
<div class="container mb-5 mt-5">

    <table class="table" style="border: 1px solid; width: 100%;">
      <thead style="border: 1px solid; font-size: 14px;">
        <tr style="border: 1px solid;">
          <th style="border: 1px solid; width: 5%;">S.No</th>
          <th style="border: 1px solid; width: 10%;">Project Image</th>
          <th style="border: 1px solid; width: 10%;">Project Title</th>
          <th style="border: 1px solid; width: 15%;">Project Type</th>
          <th style="border: 1px solid; width: 10%;">Softwares</th>
          <th style="border: 1px solid; width: 10%;">Tags</th>
          <th style="border: 1px solid; width: 10%;">Project Description</th>
          <th style="border: 1px solid; width: 25%;">Actions</th>
        </tr>
      </thead>
      <tbody style="border: 1px solid; font-size: 14px;">
  
          <tr style="border: 1px solid;" *ngFor="let project of projects; let i = index">            
              <td style="border: 1px solid; text-align: center; ">{{ i + 1 }}</td>

              <td style="border: 1px solid; text-align: center;">

                <div *ngIf="isImage(project.file.url)">
                  <img [src]="project.file.url" alt="Project Image" width="200px" height="auto">
                </div>
              
                <div *ngIf="isVideo(project.file.url)">
                  <video controls [src]="project.file.url" width="200px" height="auto"></video>
                </div>
              
                <div *ngIf="isPDF(project.file.url)">

                   <p>{{project.file.fileName}}</p><a [href]="project.file.url"   target="_blank"  class="pdf-link"><i class="bi bi-download" style="font-size: 1.5rem;"></i></a>
                </div>


  
                <div *ngIf="!isImage(project.file.url) && !isVideo(project.file.url) && !isPDF(project.file.url)">
                  <p>Unsupported media type: {{ getFileExtension(project.file.url) }}</p>
                </div>
              
              </td>
              
              <td style="border: 1px solid; text-align: center;">{{project.projectTitle}}</td>
              <td style="border: 1px solid; text-align: center;">{{project.projectType}}</td>
              <td style="border: 1px solid; text-align: center;">{{project.softwares}}</td>
              <td style="border: 1px solid; text-align: center;">{{project.tags}}</td>
              <td style="border: 1px solid; text-align: center;">{{project.projectDescription}}</td>
                  <td style="border: 1px solid;">
                <div style=" display: flex; justify-content: space-around;">
                  <button  class="btn btn-sm btn-info" (click)="viewDetails(project)">View</button>
                  <button class="btn btn-sm btn-danger"(click)="confirmDelete(project)">Delete</button>
                </div>
  
              </td>
              
          </tr>
  
  
      </tbody>
    </table>
  
  </div>
  
  
  
        
  
  
  
  
  
  
  
  
  
  
    