<button class="btn btn-primary" (click)="goToUploadPage()">Upload</button>
<button class="btn btn-primary" (click)="goToManageProjectPage()">Manage</button>






<div  class="container bg-body-tertiary mt-5 mb-5">









    <div *ngIf="!isPortfolio" class="container mt-5 mb-5">
        <!-- Categories Tabs -->
        <div class="mb-4">
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item" *ngFor="let category of categories">
              <a 
                class="nav-link" 
                [class.active]="selectedCategory === category"
                (click)="selectCategory(category)">
                {{ category }}
              </a>
            </li>
          </ul>
        </div>
      
        <!-- Tab Content -->
        <div class="tab-content">
          <!-- All Projects -->
          <div class="tab-pane fade show active" *ngIf="selectedCategory === 'All'">
            <div *ngIf="projects.length === 0" class="text-center">Loading...</div>
            <div class="row" *ngIf="projects.length > 0">
              <div *ngFor="let project of projects" class="col-6 col-md-4 mb-5">
                <div class="card h-100">

                  
                  <div *ngIf="isImage(project.file.url)">
                    <img [src]="project.file.url" class="card-img-top" alt="{{ project.projectTitle }}" alt="Project Image"  style="height: 200px; object-fit: cover;">
                  </div>


                
                  <div *ngIf="isVideo(project.file.url)">
                    <video controls [src]="project.file.url" class="card-img-top" alt="Project Image"  style="height: 200px; object-fit: cover;"></video>
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">{{ project.projectTitle }}</h5>
                    <p class="card-text">{{ project.projectDescription }}</p>
                    <a class="btn btn-link p-0 mt-2 text-primary" (click)="viewDetails(project)">View More</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Category-specific Projects -->
          <div class="tab-pane fade" *ngFor="let category of categories" [class.show]="selectedCategory === category" [class.active]="selectedCategory === category">
            <div *ngIf="selectedCategory !== 'All' && projectsByCategory[category]?.length === 0" class="text-center">No projects found.</div>
            <div class="row" *ngIf="selectedCategory !== 'All' && projectsByCategory[category] && projectsByCategory[category].length > 0">
              <div *ngFor="let project of projectsByCategory[category]" class="col-6 col-md-4 mb-5">
                <div class="card h-100">

                  <div *ngIf="isImage(project.file.url)">
                    <img [src]="project.file.url" class="card-img-top" alt="{{ project.projectTitle }}" alt="Project Image"  style="height: 200px; object-fit: cover;">
                  </div>
                
                  <div *ngIf="isVideo(project.file.url)">
                    <video controls [src]="project.file.url" class="card-img-top" alt="Project Image"  style="height: 200px; object-fit: cover;"></video>
                  </div>


                  <div class="card-body">
                    <h5 class="card-title">{{ project.projectTitle }}</h5>
                    <p class="card-text">{{ project.projectDescription }}</p>
                    <a class="btn btn-link p-0 mt-2 text-primary" (click)="viewDetails(project)">View More</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <!-- End Portfolio Section -->
</div>



<!-- <div *ngIf="!isPortfolio" class="container d-flex justify-content-center align-items-center " >
    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1716276008/No_data-amico_zhoryt.svg" style="height: 580px; width: 580px;">
</div> -->
